mat-card {
  margin-bottom: 1rem;

  & mat-form-field,
  textarea {
    width: 100%;
  }
}

.image-picker {
  margin: 0 0 1rem 0;

  & .file-input {
    visibility: hidden;
  }
}

.image-preview {

  height: 8rem;
  margin: 1rem 0;

  & img {
    height: 100%;
  }

}


