<mat-card>

  <form [formGroup]="form" (submit)="addBook()" >
 
    <mat-form-field appearance="outline">
      <mat-label>Title</mat-label>
      <input 
        matInput 
        type="text" 
        [formControlName]="'title'" 
      />
    </mat-form-field>
    <!-- 
      <mat-error *ngIf="form.get('title').invalid">Please enter a title</mat-error> 
    -->
    
    <div class="image-picker">
      <button mat-raised-button type="button" (click)="filePicker.click()">Upload An Image</button>
      <input type="file" class="file-input" #filePicker (change)="onImagePicked($event)">
    </div>
    
    <div class="image-preview" *ngIf="imagePreview !== '' && imagePreview">
      <img [src]="imagePreview" [alt]="this.form.value.title">
    </div>

    <mat-form-field appearance="outline">
      <mat-label>Description</mat-label>
      <textarea
        matInput 
        rows="6"
        cols="6"
        [formControlName]="'description'"
      ></textarea>
    </mat-form-field>
    <br />
    
    <button mat-raised-button color="accent">{{ formState }}</button>

  </form>
</mat-card>
