<mat-spinner *ngIf="isLoading"></mat-spinner>
<div class="book-list">
  <mat-accordion *ngIf="books.length >= 0 && !isLoading">
    <mat-expansion-panel *ngFor="let book of books">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ book.title }}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="post-image">
        Image path: {{book.imagePath}} <br><br>
        
        <img [src]="book.imagePath" [alt]="book.title" class="image">
      </div>
      <p>{{ book.description }}</p>
      <mat-action-row *ngIf="this.userIsAuth">
        <a a mat-button color="accent" [routerLink]="['/edit/',book.id]">Edit</a> &nbsp;
        <button mat-button color="warn" (click)="delBook(book.id)">Delete</button>
      </mat-action-row>
    </mat-expansion-panel>
  </mat-accordion>

  <p *ngIf="books.length == 0 && !isLoading">
    No books in the catalog. Please add something.
  </p>

  <mat-paginator 
    [length]="totalBooks"
    [pageSize]="booksPerPage"
    [pageSizeOptions]="bookSizeOptions"
    (page)="onPageChange($event)"
  >
</mat-paginator>


</div>