<mat-toolbar color="primary">
  <a routerLink="/">Book Reading List</a>
  <span class="spacer"></span>
  <ul>
    <li>
      <a *ngIf="userIsAuthenticated" 
        mat-button routerLinkActive="mat-accent" 
        routerLink="/create">Add New</a>
    </li>
    <li>
      <a *ngIf="!userIsAuthenticated" 
        mat-button routerLinkActive="mat-accent" 
        routerLink="/login">Login</a>
    </li>
    <li>
      <a *ngIf="!userIsAuthenticated" 
        mat-button routerLinkActive="mat-accent" 
        routerLink="/signup">Sign Up</a>
    </li>
    <li>
      <button *ngIf="userIsAuthenticated" 
        mat-button routerLinkActive="mat-accent" 
        (click)="onLogOut()" >Sign Out</button>
    </li>
  </ul>

</mat-toolbar>
