mat-toolbar {
  margin-bottom: 1rem;
}


.spacer {
  flex: 1 1 auto;
}

ul {
  display: flex;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: #ff4081;
  text-decoration: none;
}

ul {
  list-style: none;
}