<mat-card>

  <!-- Using the ngForm and a template reference tag here-->
  <form (submit)="addBook(addBookForm)" #addBookForm="ngForm">
 
    <mat-form-field appearance="outline">
      <mat-label>Title</mat-label>

      <!--
       * 
       *  Note: input using the ngModel directive which like two way
       *  binding [(ngModel)] creates a reference in the component class 
       *
      -->
      <input 
        matInput 
        type="text" 
        name="title" 
        required
        [ngModel]="book?.title"
      />
    </mat-form-field>
    
    <div class="image-picker">
      <button mat-raised-button type="button" (click)="filePicker.click()">Upload An Image</button>
      <input type="file" class="file-input" #filePicker>
    </div>
    
    <mat-form-field appearance="outline">
      <mat-label>Description</mat-label>
      <textarea
        matInput 
        rows="6"
        cols="6"
        name="description"
        required
        [ngModel]="book?.description"
      ></textarea>
    </mat-form-field>
    <br />
    
    <button mat-raised-button color="accent">Add</button>

  </form>
</mat-card>
