<mat-spinner *ngIf="isLoading"></mat-spinner>
<mat-card>
  <h4>Sign Up</h4>

  <form (submit)="onSignup(signupForm)" #signupForm="ngForm">
 
    <mat-form-field appearance="outline">
      <mat-label>E-Mail</mat-label>
      <input 
        matInput 
        name="email"
        ngModel
        type="email" 
        placeholder="E-Mail Address"
        #emailInput="ngModel"
        required
      />
    </mat-form-field>
    <mat-error *ngIf="emailInvalid">Please enter a valid email address.</mat-error>

    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input 
        matInput 
        name="password"
        ngModel
        type="password"
        placeholder="Password" 
        #passwordInput="ngModel"
        required
      />
    </mat-form-field>
    <mat-error *ngIf="passwordInvalid">Please enter a valid password.</mat-error>
    
    <button mat-raised-button color="accent">Sign Up</button>

  </form>
</mat-card>
