<mat-spinner *ngIf="isLoading"></mat-spinner>
<mat-card>
  <h4>Login</h4>  

  <form (submit)="onLogin(loginForm)" #loginForm="ngForm">
 
    <mat-form-field appearance="outline">
      <mat-label>E-Mail</mat-label>
      <input 
        matInput 
        name="email"
        ngModel
        type="email" 
        placeholder="E-Mail Address"
        #emailInput="ngModel"
        required
      />
    </mat-form-field>
    <mat-error *ngIf="emailInvalid">Please enter a valid e-mail address.</mat-error>

    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input 
        matInput 
        name="password"
        ngModel
        type="password"
        placeholder="Password" 
        #passwordInput="ngModel"
        required 
      />
    </mat-form-field>
    <mat-error *ngIf="passwordInvalid">Please enter a valid password.</mat-error>
    
    <button mat-raised-button color="accent">Login</button>

  </form>
</mat-card>
